@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
:root {
    /* Colors */
    /* Primary */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    /* Neutral */
    --very-pale-blue: hsl(228, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    /* Font Sizes */
    --font-size-paragraph: 16px;
    /* Font Families */
    --font-family: 'Red Hat Display', sans-serif;
    /* Font Weights */
    --bold: 500;
    --bolder: 700;
    --boldest: 900;
}

body{
    height: 100vh;
    width: 100%;
    background: url('./images/pattern-background-desktop.svg') no-repeat var(--pale-blue);
    background-size: 100% auto;
    background-position: top center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
}

.card {
    width: 450px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 50px 100px -55px rgba(26, 12, 179, 0.3);
}

.divlogin {
    width: 450px;
    border: 2px solid black;
    height: 450px;
    text-align: center;
    background-color: rgb(231, 231, 231);
    margin: auto;
}

button {
    border: 0;
    background-color: var(--bright-blue);
    border-radius: 13px;
    width: 100%;
    color: white;
    font-size: 15px;
    box-shadow: 0px 15px 30px -1px rgba(56, 41, 224, 0.3);
    height: 50px;
    font-weight: var(--boldest);
    font-family: var(--font-family);
    cursor: pointer;
    margin-top: 10px;
}

#cadastro{
    margin-top: 15px;
    font-weight: var(--boldest);
    color: var(--desaturated-blue);
    cursor: pointer;
}